<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTpwrtpttmRgi1BsjQFj9aUrFIftIm7ic</string>
	<key>GCM_SENDER_ID</key>
	<string>600962761680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.flutterexplained.webrtc</string>
	<key>PROJECT_ID</key>
	<string>myk-webrtc</string>
	<key>STORAGE_BUCKET</key>
	<string>myk-webrtc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600962761680:ios:69b37e756b2c9966846fd5</string>
</dict>
</plist>